@charset "utf-8";

/*---------------------------------------------------*/
/*       Noto Sans KR(Korean) google webfont         */
/*---------------------------------------------------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);			/*국문*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansgothic.css);		/*영문*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*---------------------------------------------------*/
/*       Nanum Gothic (Korean) google webfont        */
/*---------------------------------------------------*/
@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum GothicB';
	font-style:normal;
	font-weight:600;
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum GothicEXB';
	font-style:normal;
	font-weight:800;
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
	src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
		url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}

* {box-sizing: border-box;}

/*---------------------------------------------------*/
/*                  Reset Common                     */
/*---------------------------------------------------*/
html {margin:0; padding:0; color:#393f43;}
body {overflow-x:hidden; /*overflow-y:auto;*/margin:0; padding:0;}
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, ins, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; font-size:14px; font-family: 'Noto Sans', sans-serif, 'Nanum Gothic', 'dotum' ;}
table {border-spacing:0; border-collapse:collapse; border:0; table-layout:fixed; padding:0; margin:0; width:100%;}
table, caption, tbody, tfoot, thead, tr, th, td {color:#393f43;}

h1, h2, h3, h4, h5, h6 {line-height:1.2em;}
ol, ul, li {list-style:none;}

hr {display:none;}
caption {display:none;}
img {border:none; line-height:0; font-size:0;}

a {text-decoration:none;cursor:pointer;}
a:link , a:visited, a:hover{text-decoration:none}

button {border:none; padding:0; margin:0; visibility:visible; cursor:pointer;}
fieldset {border:0;}



input[type="radio"], input[type="checkbox"] {padding:0; margin:0; width:auto; height:auto; border:0; vertical-align:middle;}


/*button*/
input[type="button"],button {cursor:pointer; -webkit-border-radius:0; -webkit-appearance:none;border: 0; outline: 0; border-image: none;}
input[type="button"]:focus,button:focus {border:1px solid #3e8ddc !important;}
textarea { resize:none; word-wrap:break-word; outline:none;}

/* select 변경 */
select::-ms-expand {display:none;}
select{
	-webkit-appearance: none; /* 화살표 없애기 for chrome*/ 
	-moz-appearance: none;    /* 화살표 없애기 for firefox*/ 
	appearance: none;         /* 화살표 없애기 공통*/ 
	outline: none;
}

/*버튼속성*/
.btnRound{ border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
.btnBlue{ background-color: #3788d3;}
.btnOrange{ background-color: #ff9536;}
.btnBlack{background-color:#5d5e60 !important;}
.btnGray{background-color:#8f8f8f !important; }
.btnWhite{background-color: #fff; border: 1px solid #ddd}
