@charset "utf-8";
/* CSS Document */


/*-------- contents all --------*/
html {height: 100%;}
body {margin: 0;height: 100%;}
#wrap {margin:0;padding-bottom:160px;position:relative;min-width:320px;width:100%;min-height:100%;float:left;}
#wrap:after{content:'';clear:both;}



/*---------- footer ----------*/
#footerWrap{width:100%;padding:0;margin:0 auto;min-width:320px;position:absolute;bottom:0;left:0;}
#footerWrap .termsBox{background:#252525;}
#footerWrap .termsBox .terms{overflow:hidden;padding:0.6em 0;margin:0 auto;width:80%;}
#footerWrap .termsBox .terms li{float:left;width:25%;text-align:center;border-right:1px solid #111111;}
#footerWrap .termsBox .terms li:last-child{border-right:0;}
#footerWrap .termsBox .terms li a{font-size:0.8em;color:#cbcbcb;}
#footerWrap .footerBox{background:#363636;}
#footerWrap .footerBox .footer{padding:0.9em 0;margin:0 auto;width:85%;}
#footerWrap .footerBox .footer p{padding:0.15em 0;font-size:0.8em;color:#979797;}


/*---------- footer-Quick ----------*/
#quickBox {z-index:200;width:100%;min-width:320px;bottom:91px;left:0;}
#memberInfoBox{width:98%;margin:0 auto;border-radius:10px 10px 0 0;background:#252525;}
#memberInfoBox .memberInfo{display:block;text-align:center;}
#memberInfoBox .memberInfo img{width:42%;max-width:160px;}

/* quickOpneBox */
#quickOpneBox {width:98%;z-index:201;margin:0 auto;min-width:320px;left:1%;}
#quickOpneBox .opneBox{width:100%;background:#252525;border-radius:20px 20px 0 0;}

.opneBox .myzoneTitle{display:block;text-align:center;overflow:hidden;}
.opneBox .myzoneTitle .title{margin-right:-48px;width:41%;max-width:160px;}
.opneBox .myzoneTitle .closeBox{float:right;padding:10px 15px;}
.opneBox .myzoneTitle .closeBox img{width:18px;height:18px;}

.opneBox .myzoneBoxList{width:100%;margin:0 auto;overflow:hidden;}
.opneBox .myzoneBoxList .myzoneBox{float:left;border-right:1px solid #6a6a6a;width:48%;margin:0.5em 0.3em 0.5em 1.5em;}
.opneBox .myzoneBoxList .myzoneBox li{font-size:0.9em;color:#fff;padding:0.3em 0;}
.opneBox .myzoneBoxList .myzoneBox li img{vertical-align:middle;}
.opneBox .myzoneBoxList .myzoneBox li .pink{color:#ffc8a4;}

.opneBox .myzoneBoxList .myzoneImg{float:left;width:40%;padding:0.5em 0.7em;margin-left: 0.8em;}
.opneBox .myzoneBoxList .myzoneImg img{width:80%;max-width:125px;}
.opneBox .myzoneBoxList .myzoneImg > p{font-size:0.9em;color:#fff;padding:0.2em 0;}


/*상단메뉴*/
.header{ width: 100%; background-color: #fff; float: left; position: relative; overflow: hidden;}
.top_logo{ float: left; margin: 0; padding: 0.6em 0;  width: 80%; }
.top_logo img{ width: 220px;}
.top_menu{ float: right; margin: 0; padding: 0; width: 20%; }
.menu_top{ width: 100%; background-color: #45454f; color: #fff; padding:1em 1.25em; }
.menu_top p{ text-align: right;font-size:1.063em; padding-bottom: 1em;}
.menu_top h3{ width: 100%;font-size:1.25em; line-height: 1.4em;}
.menu_top h3 span{ font-size:0.875em;}
.menu_center{ clear: both; width: 100%;}
.menu_center a{ color:#767676; font-size:1.125em;}
.menu_center a.m_login{ float: left; width: 50%; border:1px solid #ddd; display: table-cell; text-align: center; padding:1.688em 0 1.688em 1em; background: url(../images/m_logout.png) no-repeat center center; background-position:1em;}
.menu_center a.m_join{ float: left; width: 50%; border:1px solid #ddd; display: table-cell; text-align: center; padding:1.688em 0 1.688em 1.4em; background: url(../images/m_user.png) no-repeat center center;background-position:1em;}
.menu_center a.m_logout{ float: left; width: 50%; border:1px solid #ddd; display: table-cell; text-align: center; padding:1.688em 0 1.688em 1em; background: url(../images/m_login.png) no-repeat center center; background-position:1em;}

.top_tab{ clear: both; float: left; width: 100%;}
.top_tab a{ color: #fff; font-size: 1.24em; width: 100%; display: block; line-height: 2.6em; font-family:'Nanum Gothic';}
.top_tab .top_reser{ width: 50%; float: left; display: table-cell; text-align: center;  background-color:#f38918; }
.top_tab .top_search{ width: 50%; float: left; display: table-cell; text-align: center; background-color:#45454f; color: #fff; font-size: 1.24em; line-height: 2.6em; font-family:'Nanum Gothic';}

/*!------------------------------------*\
    Base
\*!------------------------------------*/

.drawer-open {
  overflow: hidden !important;
}

.drawer-nav {
  position:fixed;
  z-index: 101;
  top: 0;
  overflow: hidden;
  width: 16.25rem;
  height: 100%;
  background-color: #fff;
}


.drawer-menu {
  clear: both;
  margin: 0;
  padding:1.875em;
  list-style: none;
}
.drawer-menu li {
 
  padding-bottom: 1.125em;
  list-style: none;
}
.drawer-menu li a{ color: #939393; font-family:'Nanum GothicB'; font-size:1.063em; }
.drawer-menu li a:active,.drawer-menu li a:hover, .drawer-menu li a:focus { color: #d8760e;}

/*! overlay */
.drawer-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}

.drawer-open .drawer-overlay {
  display: block;
}

/*!------------------------------------*\
    Right
\*!------------------------------------*/

.drawer--right .drawer-nav {
  right: -16.25rem;
  -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 16.25rem;
}

/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/

.drawer-hamburger {
  position:absolute;
  z-index: 104;
  top: 0;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding-top: 21px;
  padding-right: .75rem;
  padding-bottom: 30px;
  padding-left: .75rem;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent;
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
  height: 2px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #222;
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -10px;
  left: 0;
  content: ' ';
}

.drawer-hamburger-icon:after {
  top: 10px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
    border:none;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}