@charset "utf-8";
/* CSS Document */

@import url(common.css);
@import url(layout.css);

/*-------- contents all --------*/
.Mcontent{ clear: both; float: left; width: 100%; height: 100%;}
.photoSlider{ clear: both; width: 100%; float: left; position: relative;}
 /** 갤러리
===================================*/
.bx-wrapper {
  position: relative;
  /* margin-bottom: 30px; */
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  min-width: 320px;
  width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -70px;
  width: 100%;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-prev {
  right:50%;
  margin-right:-260px;
  background:url(../../images/m_valley/main/controls_arwL.png) no-repeat;
}
.bx-wrapper .bx-next {
  right:50%;
  /* margin-right:-300px; */
  background:url(../../images/m_valley/main/controls_arwR.png) no-repeat;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -146px;
  outline: 0;
  width: 32px;
  height: 43px;
  text-indent: -9999px;
  z-index: 70;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.last{font-size:0.95em;color:#3e8ddc;}

/*달력-calendar*/
.mCalendar{ clear: both; float:left; width: 100%; overflow: hidden;}
.CalendarBox{ width: 98%; margin:0 auto; padding-bottom:2.5em; }
.CalendarBox h2{ text-align: center; padding-bottom: 0.75em; font-size: 1.25em; color: #404040; font-family:'Nanum GothicEXB';}
.CalendarBox table{ border: 1px solid #ddd;}
.CalendarBox table th{ padding: 0.25em 0; text-align: center;font-family:'Nanum GothicB';font-size: 0.875em;}
.CalendarBox table td{ border: 1px solid #ddd; padding: 0.2em; height: 4em; vertical-align:top; color: #5b5b5b;font-family:'Nanum GothicB';}
.CalendarBox table th:first-child { color: #cc1b1b;font-family:'Nanum GothicB';}
.CalendarBox table th:last-child { color: #3c5ebf;font-family:'Nanum GothicB';}
.CalendarBox table td a{ width: 100%;display:block; color: #5b5b5b;font-family:'Nanum GothicB';font-size: 0.875em;}
.CalendarBox table td.block{ background-color: #f2f2f2;color: #dedddd;font-size: 0.875em;}
.CalendarBox table td a span{ width: 100%; text-align: center; color:#8a8a8d; margin-top:1.25em; display: block; font-family:'Nanum GothicB';font-size:1em;}
.CalendarBox table td a.red{ color:red;}
.CalendarBox table td a.blue{ color:blue;}


/*예약contents*/
.MReser_Wrap{ width: 98%; margin: 0 1% 100px 1%; }
.MReser_Wrap h2{ font-size: 1.2em; font-family:'Nanum GothicB';}
.MReser_Wrap h2 span{ line-height: 1.1em; padding-top:3px;}
.MReser_Wrap h2 span.Rright_arw{
  display: inline-block;
  width: 1.188em;
  height: 1.188em;
  background-color:#45454f;
  border-radius: 50%;
  margin:0 0.2em;
  
}

.MReser_Wrap h2 span.Rright_arw:after {
  content: '';
  display: inline-block;
  margin-top: 0em;
  margin-left: 0.2em;
  width: 0.6em;
  height: 0.6em;
  border-top: 0.18em solid #fff;
  border-right: 0.18em solid #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.MReser_Wrap p{ width: 100%; margin: 1em auto; background-color: #45454f; color: #fff; border-radius: 10px; text-align: center; font-size:1em; padding: 1em 0;}
.MReser_Wrap p span{ color:#ffe776; font-family:'Nanum GothicB';}

.MCourse_Tab{ width: 100%; color: #fff;}
.MCourse_Tab li{ width:33.333333%;  float: left; display: inline-block; border: 1px solid #fff;  text-align: center; border-collapse: collapse; background-color: #828282; border-top-left-radius: 8px; border-top-right-radius: 8px; padding: 0.75em 0; font-size: 0.875em;font-family:'Nanum GothicB';}
.MCourse_Tab li.on{background-color: #3e8ddc;}

.Mtable_Tab{ width: 100%; color: #828282;font-family:'Nanum GothicB';}
.Mtable_Tab li{ width: 33.333333%;  float: left; display: inline-block; border: 1px solid #e2e2e2;  text-align: center; border-collapse: collapse; background-color: #fff;padding: 0.75em 0; font-size: 0.875em; margin-top: 0.875em;font-family:'Nanum GothicB';}
.Mtable_Tab li.on1{color: #3e8ddc; background-color: #fff;}

.MainTable{ width: 100%; border: 1px solid #b2b2b2;border-collapse: collapse; }
.MainTable th{ background-color:#dadada; text-align: center; color: #4f4f4f; padding: 2em 0; font-size: 0.875em;}
.MainTable th.UpDown{
	background-image:url(../../images/m_valley/t_arw.png),url(../../images/m_valley/t_arw1.png);
	background-position:50% 10%,50% 90%;;
	background-repeat:no-repeat;
	background-size: 12px 7px,12px 7px;
}

.MainTable td{ line-height: 1.3em; text-align: center; padding: 0.6em 0;}
.MainTable tbody{ width: 100%;}
.MainTable tr{border-bottom: 1px solid #e1e1e1;}
/* .MainTable tr:first-child{border-bottom:0}*/
.MainTable tr:last-child{border-bottom:0; color:#da1e1e;} 
.MainTable tbody tr:last-child{  border-bottom: 1px solid #b2b2b2;}
.MainTable td.td_merge{ text-align: center; font-size:0.875em;}
.MainTable td.td_merge span{ color:#b2b2b2}
.MainTable span{ border-radius: 10px; font-size: 1em;}
.MainTable span.orangeBtn{display:block;width:70%; margin: 0.4em auto; padding:5px 0;background-color: #e17831; border: 1px solid #b35a1e; color: #fff;}
.MainTable span.blueBtn{display:block;width:70%; margin: 0.4em auto; padding:5px 0;margin-top: -1px; background-color: #3e8ddc; border: 1px solid #2974a8; color: #fff;}
.MainTable span.greenBtn{display:block;width:70%; margin: 0.4em auto; padding:5px 0;margin-top: -1px; background-color: #6ea724; border: 1px solid #568716; color: #fff;}

@media (max-width: 360px) {
    .MainTable th{ background-color:#dadada; text-align: center; color: #4f4f4f; padding: 2em 0; font-size: 0.75em;}
    .MainTable td{border-bottom: 1px solid #e1e1e1; line-height: 1.45em; text-align: center; padding: 0.6em 0; font-size:0.9em;}
}


.TTab2{ display: none;}
.TTab3{display: none;}
.CTab2{display: none;}
.CTab3{display: none;}
.CTab4{display: none;}


/*쿠폰-coupon*/
.coupon_pop{ position: fixed; z-index: 100; width:180px; height:170px; top:100px; left: 50%; }
.pop_x{ position: absolute; bottom:5px; right: 30px; cursor: pointer;}


.member_enter{ width: 100%; border: 1px solid #ddd; background-color:#f8f8f8; text-align: center;  margin:1em 0 2.4em;}
.member_enter h1{ width:180px; margin: 1em auto 0; text-align: center;color:#676767; font-size: 1.125em;font-family:'Nanum GothicB';}
.member_enter h1 span{ width: 180px; margin: 0.4em auto;display: block; text-align: center;}
.member_enter h1 span img{ max-width:70px; }
.member_enter input{ padding: 1em; border: 1px solid #ddd; width: 230px; margin: 1em 0;}
.member_enter h3{ color: #a6a6a6; font-size: 1em; padding: 1em 0; line-height: 1.4em;}
.member_enter h3 strong{ font-weight: 500; color: #9bc6f2; font-size: 1em;}
.gradLine { height: 9px; width: 100%; background: linear-gradient( 45deg, #3494bf, #8461a0 ); font-size: 0;} 



/*추가요청사항*/
.reserTBinfo{ clear:both; width:100%; text-align:right; padding:5px 0;}
.reserTBinfo span.gray{ background-color:#f8f8f8; color:#f8f8f8; widtgh:8px; hight:6px; display:inline-block; border:1px solid #ddd; font-size:8px; }
.reserTBinfo span.skyblue{ background-color:#b1daff; color:#b1daff; widtgh:8px; hight:6px; display:inline-block; border:1px solid #ddd;font-size:8px;}
.reserTBinfo span.green{ background-color:#c9f29a; color:#c9f29a; widtgh:8px; hight:6px; display:inline-block;border:1px solid #ddd;font-size:8px;}

.main_table{ width:100%; border-top:1px solid #686868; border-bottom:1px solid #686868; margin:0.875em 0;}
.main_table th{ background-color:#f5f5f5; width:20%; border-bottom:1px solid #ddd; padding:5px 0;}
.main_table tr:last-child th{ border-bottom:0;}
.main_table td{ text-indent:0.55em; width:80%; border-bottom:1px solid #ddd; padding:5px 0;}
.main_table td.red{ color:red;}
.main_table td span{ padding-left:3px; color:red; }
.main_table tr:last-child td{  border-bottom:0;}
.main_table td textarea{ width:90%; overflow-x:hidden; height:70px;  border: 1px solid #e1e1e1; color: #404040;}
.main_table td select{width: 120px; height: 30px;  border: 1px solid #e1e1e1; color: #404040;
background: url(../../images/m_valley/select-arrow.png) no-repeat 90% 50%;
    background-size: 13px 8px; margin-bottom:10px;
}

/*pop*/
.introPop{ position: fixed; top:0; left:0; z-index:999;}
.introPop img{ width:100%;}



/*200715추가*/
.introPop1{ position:absolute; top:0; left:0; right:0; z-index:999; width:100%;}
.closeBox{ width:100%; background-color:#444;padding:6px 10px; overflow:hidden;}
.todayClose{ width: 50%; float:left;  color:#fff; }
.introPopClose{width: 50%; float:left;  color:#fff; text-align:right;  }
 /** 갤러리
===================================*/
.bx-wrapper1 {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper1 img {
  min-width: 320px;
  width: 100%;
  display: block;
}
/** THEME
===================================*/
.bx-wrapper1 {}
.bx-wrapper1 .bx-pager,
.bx-wrapper1 .bx-controls-auto {
  position: absolute;
  bottom: -70px;
  width: 100%;
}
/* PAGER */
.bx-wrapper1 .bx-pager {
  text-align: center;
  padding-top: 20px;
}
.bx-wrapper1 .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
}
.bx-wrapper1 .bx-pager.bx-default-pager a:hover,
.bx-wrapper1 .bx-pager.bx-default-pager a.active,
.bx-wrapper1 .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper1 .bx-pager-item,
.bx-wrapper1 .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper1 .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper1 .bx-prev:hover,
.bx-wrapper1 .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper1 .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	margin-top:-25px;
	width: 30px;
	height:49px;
	text-indent: -9999px;
	z-index: 70; 
}
.bx-wrapper1 .bx-prev {
	left:5px;
	background:url(../../images/m_hills/controls_l.png) no-repeat;
} 
.bx-wrapper1 .bx-next {
	right:5px;
	background:url(../../images/m_hills/controls_r.png) no-repeat;
}
.bx-wrapper1 .bx-controls-direction a.disabled {
  display: none;
}