@charset "utf-8";
/* CSS Document */

@media (max-width:380px){
	.midTitleBox .memberBtn{font-size:0.75em !important;width:24% !important;}
	.midTitleBox .commonDot {margin: 6px 0 !important;}

}

@media (max-width:400px){	

	/* join04 �����Է� */
	.joinBoxList{width:100%;margin:0 auto;border:1px solid #e0e0e0;padding:0.7em 0.9em !important;background:#f9f9f9}
	.joinBoxList .joinInfoBox .infoList{font:1em 'Nanum GothicB' !important;}
	.joinBoxList .joinInfoBox li > select{width:31% !important;height:50px;border:1px solid #e1e1e1;font-size:0.86em;}
	.joinBoxList .joinInfoBox li > select.area{width:60% !important;}
	.joinBoxList .joinInfoBox .select-arrow2{background: url('../../images/m_valley/select-arrow2.png') no-repeat 97% 48%;text-indent:0.3em;}

	.joinBoxList .joinInfoBox li .idInput{width:70%;height:50px;border:1px solid #e1e1e1;text-indent:10px;}
	.joinBoxList .joinInfoBox li .overlap.orangeBtn{font-size:0.8em}

	.passTxt{width:100%;margin-left:35%;padding-bottom:0.7em;font-size:0.8em;}
	.passTxt li.title{font-size:0.7em;padding-bottom:0.4em;}
	.passTxt li{padding:0.2em 0;font-size:0.5em;}

	/* member ȸ�������Է� */	
	.memberBoxList .memberInfoBox li > select{width:31% !important;}
	.memberBoxList .memberInfoBox li > select.area{width:60% !important;}
	.memberBoxList .memberInfoBox .select-arrow2{background: url('../../images/m_valley/select-arrow2.png') no-repeat 97% 48%;text-indent:0.3em !important;}

	.memberBoxList .phoneTxt{font-size:0.85em !important;}
	
	/* withdraw ȸ��Ż�� */
	.withdrawLtxt.title{font:1em 'Nanum GothicB' !important;line-height:1.8em;}
	.withdrawMtxt{font-size:0.8em !important;}

	/* list__gallery �̺�Ʈ, ����Խ��� */
	.borderBg .imgFormBox{width:100%;}
	.borderBg .imgFormBox .imgListBox{width:80%;overflow:hidden;margin:15px auto;border-bottom:1px dashed #dcdcdc;min-width:320px;padding:0 0.3em 10px;}
	.borderBg .imgFormBox .imgListBox .listNum{width:5%;text-align:center;font-size:0.8em;float:left;padding:2.7em 0;}
	.borderBg .imgFormBox .imgListBox .listImg{float:left;width:124px;vertical-align:middle;}
	.borderBg .imgFormBox .imgListBox .listImg img{width:100%}
	.borderBg .imgFormBox .imgListBox .imgInfoList{width:49%;float:left;min-width:140px;margin:1% 0 0 2%;}
	.borderBg .imgFormBox .imgListBox:after{content:'';display:block;clear:both;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .title{font-size:0.85em;width:100%;height:2.0em;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .date{font-size:0.8em;width:100%;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .imgBtn{background:#3e8ddc;width:50%;padding:0.5em;margin-top:0.5em;color:#fff;font-size:0.8em;border-radius:5px;text-align:center;}

	/* list �������� �Խ��� */
	.borderBg .boardFormBox{width:100%;margin:0.9em 0}
	.borderBg .boardFormBox > a{color:inherit;}
	.borderBg .boardFormBox .boardListBox{width:98%;overflow:hidden;margin:0 auto;border-bottom:1px dashed #dcdcdc;min-width:315px;padding:0 0.3em;}
	.borderBg .boardFormBox .boardListBox li{float:left;font-size:0.8em;margin:1em 0;height:3em;line-height:3em;}
	.borderBg .boardFormBox .boardListBox li.listNum{width: 7%;text-align:center;float:left;}
	.borderBg .boardFormBox .boardListBox li.title{width: 77%;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
	.borderBg .boardFormBox .boardListBox li.date{width:16%;}


	/* btn */
	.closeBtn{display:block;width:20%;margin:1em auto;padding:0.6em 0;font-size:0.9em;color:#fff;text-align:center;}

	/* write */
	.writeBox{padding:0.7em;margin:0.8em 0;}
	.writeBox .list{padding:5px 0;}
	.writeBox .list .title{display:inline-block;width:25%;padding:10px 0;font-size:0.8em;}
	.writeBox .list .titleIp{width:73%;height:35px;border:1px solid #e1e1e1;}
	.writeBox .liTxt{font-size:0.8em;color:#3a3a3a;margin:0.3em 0 0.5em 25%;width:70%;}
	.writeBox .fileName {display:inline-block;width:45%;height:35px;padding-left:10px;margin-right:5px;line-height:35px;border:1px solid #e1e1e1;background-color:#fff;vertical-align:middle;}
	.writeBox .btn_file {display:inline-block;background:#707070;width: 25%;height:35px;line-height:35px;text-align:center;vertical-align:middle;color:#fff;font-size:12px;}
	.writeBox .btn_file.file2 {background:#d8d8d8;width:25%;color:#606060;border:1px solid #a0a0a0;}
	.writeBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
	.writeBox textarea{width:98%;height:150px;border: 1px solid #e1e1e1;}

	/* view */
	.commentBox{width:100%;overflow:hidden;margin:1.7em 0;}
	.commentBox .commenTitle{padding:5px 0 10px;color:#7f7f7f;}
	.commentBox .commenTitle .title{font:1.2em 'Nanum GothicB';margin:0 10px;}
	.commentBox .commenTitle .comentTxt{margin-left:0.7em;font-size:0.8em;}
	.commentBox .commenTitle .comentTxt span.orangeRed{font-size:1em;}

	.commentBox .commentTxt{width:100%;overflow:hidden;}
	.commentBox .commentTxt .txtReply{width:70%;height: 24px;border: 1px solid #e1e1e1;}
	.commentBox .commentTxt .orangeBtn.viewInput{width:28%;display:inline-block;margin-left:2%;padding: 0.5em 0;font-size: 0.8em;vertical-align: top;}

	.commentBox .comment{width:100%;}
	.commentBox .comment .replyBox{overflow:hidden;padding:0 0.3em;border-bottom:1px dashed #e0e0e0;}
	.commentBox .comment .replyBox .img{float:left;height:21px;margin-top:5px;vertical-align: middle;}
	.commentBox .comment .replyBox .reply{float:left;width:92%;height:40px;line-height:38px;}
	.commentBox .comment .replyBox .reply span{color:#6e6d6d;font-size:0.8em}
	.commentBox .comment .replyBox .reply .new{width:5%;height:15px;margin-left:0.4em;vertical-align:middle;display:inline-block;}
	.commentBox .comment .replyBox .reply .name{font:0.8em 'Nanum GothicB';}
	.commentBox .comment .replyBox .reply .replyCont{font-size:0.8em;margin:0 10px 0 5px;}
	.commentBox .comment .replyBox .reply .delete{padding:5px 8px;font-size:0.8em;border:1px solid #e0e0e0;color:#111111;}	



}

@media (min-width:401px) {
	/* member ȸ�������Է� */
	.memberBoxList .snsAgreeyBox li{font-size:0.95em !important;}

	/* list__gallery �̺�Ʈ, ����Խ��� */
	.borderBg .imgFormBox{width:100%;}
	.borderBg .imgFormBox .imgListBox{width:95%;overflow:hidden;margin:10px auto;padding:0.3em 0 10px;border-bottom:1px dashed #dcdcdc;min-width:320px;}
	.borderBg .imgFormBox .imgListBox .listNum{width:5%;text-align:center;font-size:0.9em;float:left;padding:2.8em 0;}
	.borderBg .imgFormBox .imgListBox .listImg{float:left;width:160px;vertical-align:middle;}
	.borderBg .imgFormBox .imgListBox .listImg img{width:100%}
	.borderBg .imgFormBox .imgListBox .imgInfoList{float:left;min-width:140px;width:49%;margin: 1% 0 0 2%;}
	.borderBg .imgFormBox .imgListBox:after{content:'';display:block;clear:both;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .title{font-size:1em;width:100%;height:1.5em;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .date{font-size:0.9em;width:100%;padding:0.2em 0;}
	.borderBg .imgFormBox .imgListBox .imgInfoList .imgBtn{background:#3e8ddc;width:45%;max-width:120px;padding:0.5em;margin-top:0.5em;color:#fff;font-size:0.9em;border-radius:5px;text-align:center;}

	/* list �������� �Խ��� */
	.borderBg .boardFormBox{width:100%;margin:0.9em 0}
	.borderBg .boardFormBox > a{color:inherit;}
	.borderBg .boardFormBox .boardListBox{width:98%;overflow:hidden;margin:0 auto;border-bottom:1px dashed #dcdcdc;min-width:320px;padding:0 0.3em;}
	.borderBg .boardFormBox .boardListBox li{float:left;font-size:0.9em;margin:1em 0;height:3em;line-height:3em;color:#656565;}
	.borderBg .boardFormBox .boardListBox li.listNum{width: 7%;text-align:center;float:left;}
	.borderBg .boardFormBox .boardListBox li.title{width: 77%;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
	.borderBg .boardFormBox .boardListBox li.date{width:16%;}

	/* btn */
	.closeBtn{display:block;width:20%;margin:1em auto;padding:0.6em 0;font-size:1.1em;color:#fff;text-align:center;}

	
	/* write */
	.writeBox{padding:0.7em;margin:0.8em 0;}
	.writeBox .list{padding:5px 0;}
	.writeBox .list .title{display:inline-block;width:25%;padding:10px 0;}
	.writeBox .list .titleIp{width:73%;height:35px;border:1px solid #e1e1e1;}
	.writeBox .liTxt{font-size:0.8em;color:#3a3a3a;margin:0.3em 0 0.5em 25%;width:70%;}
	.writeBox .fileName {display:inline-block;width:45%;height:35px;padding-left:10px;margin-right:5px;line-height:35px;border:1px solid #e1e1e1;background-color:#fff;vertical-align:middle;}
	.writeBox .btn_file {display:inline-block;background:#707070;width: 25%;height:35px;line-height:35px;text-align:center;vertical-align:middle;color:#fff;font-size:12px;}
	.writeBox .btn_file.file2 {background:#d8d8d8;width:25%;color:#606060;border:1px solid #a0a0a0;}
	.writeBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
	.writeBox textarea{width:98%;height:150px;border: 1px solid #e1e1e1;}

	/* view */
	.commentBox{width:100%;overflow:hidden;margin:1.7em 0;}
	.commentBox .commenTitle{padding:5px 0 10px;color:#7f7f7f;}
	.commentBox .commenTitle .title{font:1.2em 'Nanum GothicB';margin:0 10px;}
	.commentBox .commenTitle .comentTxt{margin-left:0.7em;font-size:0.8em;}
	.commentBox .commenTitle .comentTxt span.orangeRed{font-size:1em;}

	.commentBox .commentTxt{width:100%;overflow:hidden;}
	.commentBox .commentTxt .txtReply{width:70%;height: 28px;border: 1px solid #e1e1e1;}
	.commentBox .commentTxt .orangeBtn.viewInput{width:28%;display:inline-block;margin-left:2%;padding: 0.4em 0;font-size: 1em;vertical-align: top;}
	
	.commentBox .comment{width:100%;}
	.commentBox .comment .replyBox{overflow:hidden;padding:0 1.5em 0 0.9em;border-bottom:1px dashed #e0e0e0;}
	.commentBox .comment .replyBox .img{float:left;height:21px;margin-top:5px;vertical-align: middle;}
	.commentBox .comment .replyBox .reply{float:left;width:90%;height:40px;line-height:38px;}
	.commentBox .comment .replyBox .reply span{color:#6e6d6d;}
	.commentBox .comment .replyBox .reply .new{width:4%;height:15px;margin-left:0.4em;vertical-align:middle;display:inline-block;}
	.commentBox .comment .replyBox .reply .name{font:0.9em 'Nanum GothicB';}
	.commentBox .comment .replyBox .reply .replyCont{font-size:0.9em;margin:0 10px 0 5px;}
	.commentBox .comment .replyBox .reply .delete{padding:5px 8px;font-size:0.8em;border:1px solid #e0e0e0;color:#111111;}



}


@media (max-width: 500px) {
	/* join03 ������� */
	.grayBg .agreeyBgBox .joinAgreeyList{overflow:hidden;padding:0 0.7em 1.5em;}
	.grayBg .agreeyBgBox .joinAgreeyList:last-child{padding-bottom:0;}
	.grayBg .agreeyBgBox .joinAgreeyList li{float:left;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyTitle{width:58%;font:0.9em 'Nanum GothicB';color:#a1a1a1;text-align:center;margin-right:2%;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyTitle > span{font-size:0.85em;}

	.grayBg .agreeyBgBox .joinAgreeyList .btn{width:24%;margin-right:2%}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyBtn{font-size:0.75em;background:#fff;color:#3c3c3c;border:1px solid #b3b3b3;text-align:center;width:100%;padding:0.5em;cursor: pointer;}

	.grayBg .agreeyBgBox .joinAgreeyList .agreeyCheck{width:14%;font-size:0.76em;margin-top:0.7em;text-align:center;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyCheck > input{width:1em;height:1em;}

	/* member ȸ�������Է� */
	.memberBoxList .memberInfoBox .infoList{font:0.9em 'Nanum GothicB' !important;}


}

@media (min-width: 501px) { 
	/* join03 ������� */
	.grayBg .agreeyBgBox .joinAgreeyList{overflow:hidden;padding:0 0.7em 1.5em;}
	.grayBg .agreeyBgBox .joinAgreeyList:last-child{padding-bottom:0;}
	.grayBg .agreeyBgBox .joinAgreeyList li{float:left;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyTitle{width:50%;font:0.9em 'Nanum GothicB';color:#a1a1a1;margin-left:5%;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyTitle > span{font-size:0.85em;}

	.grayBg .agreeyBgBox .joinAgreeyList .btn{width:25%;margin-right:2%}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyBtn{font-size:0.75em;background:#fff;color:#3c3c3c;border:1px solid #b3b3b3;text-align:center;width:100%;padding:0.5em;cursor: pointer;}

	.grayBg .agreeyBgBox .joinAgreeyList .agreeyCheck{width:18%;font-size:0.76em;margin-top:0.7em;text-align:center;}
	.grayBg .agreeyBgBox .joinAgreeyList .agreeyCheck > input{width:1em;height:1em;}



	/*-- BtnBox --*/	
	.btnBox li{padding:0.9em 0 !important;}
	.btnBox li > a{font:1em 'Manum GothicB' !important;}

}