@charset "utf-8";
/* CSS Document */

@import url(common.css);

/*-------- contents all --------*/
#intro_wrap {margin:0;padding:0;min-width:320px;width:100%; position: relative;}

.intro_top{ background-color: #fff; width: 100%; height:82px; border-top:1px solid #d4d3d3; border-bottom: 1px solid #d4d3d3; text-align: center;float: left; position: relative; overflow: hidden;}
.intro_top p{ width: 88px; margin: 0 auto; display: block;  }
.intro_top p img{ width: 80px; height: 73px; margin: 0 auto; padding-top: 5px;}

.intro_cont{ width: 100%; background:url(../../images/m_hills/intro_Bg.gif) no-repeat; background-size: cover; max-height: 667px; float: left; position: relative; overflow: hidden; color: #fff; padding-bottom: 8.250em;}
.intro_tit{ padding:7.063em 0 5.8em 0;}
.intro_tit h4{ margin: 0 auto; text-align: center; font-family:'Nanum Gothic'; font-size: 1.125em;}
.intro_tit h4 span{font-family: 'Kalam', cursive; color: #ffe075;}
.intro_tit h2{font-family:'Nanum GothicEXB'; text-align: center; font-size:3em; text-transform: uppercase;}

.intro_btnWrap{ min-width:320px; max-width:600px; margin: 0 auto; padding: 0 0.938em;}
.intro_btn1{ float: left; width: 49%; }
.intro_btn1 img{width:100%;}
.intro_btn2{ float: right; width: 49%;}
.intro_btn2 img{width:100%;}
.movie{ width: 100%; float: left; height: 300px;}

.intro_bottom{ float: left; width: 100%; padding: 2.438em; color: #7c7c7c; background-color:#363636; line-height:2.250em; margin: 0;}
.intro_bottom h2{font-size: 1.125em; padding-bottom: 5px;}
.intro_bottom p{font-size: 0.96em;}

