@charset "UTF-8";

.TPopupOverlay{position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #777777;z-index:1004;-moz-opacity: 0.9;opacity:.90;filter: alpha(opacity=90); display: none;}	
.MLWrap1{ position: fixed; width:100%; z-index: 1005; padding: 3em 10%; display:none;}
.MLWrap1 p img{ width: 100%;}
.Tpop{ width: 100%; float: left;}
.Tpop_left{ width: 80%; float: left; text-align: left; color: #fff; position: relative;margin-top: 10px;}
.Tpop_right{ width: 20%; float:left; text-align: right;}
.Tpop_right img{ width: 40%; max-width:44px;}

.input { position: absolute; left: -9999px;}
label::before{
width: 20px; height: 20px; border: 1px solid #fff; content: ' '; border-radius: 10px; float: left; font-size: 1em; margin:0 10px; cursor: pointer;
}
label::after{
display: none; top: 5px; left: 15px; content: ''; color: #fff; position: absolute; width: 10px; height: 10px; background-color: #fff; border-radius: 5px; cursor: pointer;
}
label span{ font-size: 1.2em;}
input[type=checkbox]:checked + label::after{display: block;} 
input[type=checkbox]{display:none;}