@charset "utf-8";
@import url(content.css);
@import url(common.css);
@import url(layout.css);

.quick-overlay{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #777777;z-index:1004;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}	
.fix_pop_box1 {display: none;position: fixed;width: 1100px;height: 600px;background-color: white;  z-index:1005; float: left;border-radius: 10px;}
.relative_box{ position: relative; border-radius: 10px;}
.relative_box1{ position: relative; border-radius: 10px; display: none;}
.relative_box h3{ clear:both; font-size:12px; padding:22px 0 8px 0;}

.fix_pop_wrap{ width: 100%; float: left; overflow: hidden;border-radius: 10px;}
.fix_pop_x{ position: absolute; top: -21px; right: -21px; z-index: 1007; cursor: pointer;}
.reserSeachTitle{
height:60px;text-align:center;line-height:60px;color:#fff;background: #ff6600;font-size:20px;
}
/* Container */
.reserSeachTitle1{ width: 100%; border-radius: 10px 10px 0 0; float: left; overflow: hidden;}
.reserSeachTitle1 li{ width: 50%; float: left;  text-align: center; line-height:60px;color:#808095;background: #45454f;font-size:20px; cursor: pointer;}
.reserSeachTitle1 li.on{background-color: #ff6600; color: #fff; }


/* modal leftData */
.leftData{width:550px;height:600px;float:left;padding:25px;color:#989898;}
.leftData .choiceBox a{display:inline-block;}
.leftData .choiceBox img{vertical-align:middle;}
.leftData .choiceBox .title{
width:80px;height:50px;line-height:50px;font-size:15px;color:#7f7f7f;text-align:center;font-family:"Nanum GothicB";
margin-right:20px;
}
.leftData .choiceBox .reserSelect select{
width:180px;height:35px;line-height:35px;color:#b0abab;border:1px solid #e1e1e1;padding-left:10px;
background: url('../../images/hills/select-arrow.png') no-repeat 90% 50%;background-size: 13px 8px;text-indent: 5px;
}
.leftData .choiceBox .reserTime select{
width:120px;height:35px;line-height:35px;color:#b0abab;border:1px solid #e1e1e1;padding-left:10px;
background: url('../../images/hills/select-arrow.png') no-repeat 90% 50%;background-size: 13px 8px;text-indent: 5px;
margin-right:10px;
}
.leftData .choiceBox .greenfee{
width:120px;height:35px;line-height:35px;color:#b0abab;padding-left:10px; background-size: 13px 8px;text-indent: 5px; margin-right:10px;display:inline-block;padding-top:28px;
}
.leftData .choiceBox .dayInput{display:inline-block;width:120px;height:35px;line-height:35px;border:1px solid #e1e1e1;text-align:center;vertical-align:middle;}

.leftData .check-list{padding:5px 0 10px 80px;}
.leftData .choiceBox .check-list input{width:10px;height:10px;margin-right:10px;}


.leftData .btnBox{width:320px;margin:0 auto;padding-top:30px;font-size:0;  text-align: center;}
.leftData .btnBox input{display:inline-block;padding:13px 60px;}
.leftData .btnBox .motion{background:#ff6600;color:white;font-family:"Nanum GothicB";font-size:15px;margin-right:3px;}
.leftData .btnBox .cancel{background:#6e6e6e;color:white;font-family:"Nanum GothicB";font-size:15px;}

.leftData .dotLine{height:60px;border-bottom:1px dashed #dcdcdc}

/* modal rightData */
.rightData{
float:left;background:#f5f5f5;width:550px;height:540px;padding:20px;
}
.rightData .courseTab{width:500px;overflow:hidden;font-size:0;border-bottom:1px solid #45454f;}
.rightData .courseTab a{
display:inline-block;border-radius:15px 15px 0 0;background:#ebebeb;color:#45454f;margin-right:1%;
padding:10px 0;font-size:13px; text-align: center; width: 23%;
}
.rightData .courseTab .on{background:#45454f;color:#fff;}

/* .rightData .commonTable{width:500px;}
.rightData .commonTable th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.rightData .commonTable td{font-size:12px;height:40px;color:#4f4f4f;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"; */

.rightData .commonTable1{width:485px;}
.rightData .commonTable1 th{width:83px;font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.rightData .commonTable1 th.UpDown{
	background-image:url(../../images/m_hills/t_arw.png),url(../../images/m_hills/t_arw1.png);
	background-position:90% 50%,93% 50%;
	background-repeat:no-repeat;
	background-size: 12px 7px,12px 7px;
	cursor: pointer;
}

.rightData .commonTable1 tbody{overflow-y:auto; overflow-x:hidden; width:514px; height:400px;float:left;}
.rightData .commonTable1 tbody tr{display:table; width:510px;}
.rightData .commonTable1 td{font-size:12px;height:40px;color:#4f4f4f;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB";width:100px}
.rightData .commonTable1 td:last-child{ color: #da3326;}
.rightData .commonTable1 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.rightData .commonTable1 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.rightData .commonTable1 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.rightData .underline{height:1px;border-bottom:1px solid #45454f;}



/*예약하기*/
.mReserTWrap{ float: left; width: 100%; padding: 30px; color: ;}
.mReserTWrap .CarendarTitle{ width:490px; margin: 0 auto;}
.CarendarTitle .cLeft{ float: left; width:70px; color: #a0a0b0; font-size:16px; height: 30px; background:url(../../images/hills/main/left_arw.jpg) no-repeat; background-position:right; line-height: 30px; padding-right: 20px; margin-right: 10px; font-family:"Nanum GothicB"; cursor: pointer;}
.CarendarTitle .cCenter{ float: left; width:290px ; font-size:26px; color: #45454f; font-family:"Nanum GothicB"; line-height: 30px; height: 30px; overflow: hidden; text-align: center;}
.CarendarTitle .cCenter span{ color: #be4a27;font-size:26px;  line-height: 30px; height: 30px; font-family:"Nanum GothicB";}
.CarendarTitle .cRight{ float: left; width:70px; font-size:16px; color: #45454f;height: 30px;background:url(../../images/hills/main/right_arw.jpg) no-repeat; background-position:left; line-height: 30px; padding-left: 20px; margin-left: 10px; font-family:"Nanum GothicB"; cursor: pointer;} 


.popupReserWrap{ width: 960px; margin: 0 auto; position:relative;}
.earlyBox{ position:absolute; top:20px; right:0;}

/* .popupReserWrap div.hr{ border: 0;  border-bottom: 1px solid #45454f; margin-top: 15px; height: 1px;width: 100%; float: left;} */
.popupReserWrap div.hr{ border: 0;}
.courseChoiceBox{display:inline-block; text-align:left;}
.courseChoiceBox img{vertical-align:middle;}
.courseChoiceBox .title{
width:60px;height:50px;line-height:50px;font-size:15px;color:#7f7f7f;text-align:left;font-family:"Nanum GothicB"; display: inline-block;}
.courseChoiceBox .title1{
width:60px;height:50px;line-height:50px;font-size:15px;color:#7f7f7f;text-align:right;font-family:"Nanum GothicB"; display: inline-block; margin-left: 20px;}
.courseChoiceBox .CourseSelect select{
width:180px;height:35px;line-height:35px;color:#b0abab;border:1px solid #e1e1e1;padding-left:10px;
background: url('../../images/hills/select-arrow.png') no-repeat 90% 50%;background-size: 13px 8px;text-indent: 5px;
}
.courseChoiceBox .reserTime1 select{
width:100px;height:35px;line-height:35px;color:#b0abab;border:1px solid #e1e1e1;padding-left:30px;
background: url('../../images/hills/select-arrow.png') no-repeat 90% 50%;background-size: 13px 8px;text-indent: 5px;
}

.popReserTableWrap{ width: 960px; margin: 0 auto; height: 255px; overflow-y:auto; overflow-x: hidden; }
.popReserTable{ width: 960px; margin-top:4px;}
.popReserTable td{ font-weight: bold; color: #45454f; border-bottom: 1px solid #cbcbcb; border-right: 1px solid #cbcbcb; border-collapse: collapse; box-sizing: border-box; text-align: center; padding: 5px 0;}
.popReserTable td:last-child{ border-right: 0;}
.popReserTable tr:last-child td{ border-bottom: 1px solid #45454f; }

.popReserTable td.sun{color:#d32d16;}
.popReserTable td.sat{color:#336ea6;}

.popReserTable1{ width: 960px; margin: 0 auto;}
.popReserTable1 th{ background-color:#e17831; color: #fff; text-align: center; padding: 10px 0; border-radius: 10px 10px 0 0; }
.popReserTable1 th span{ margin: 0 2px; background-color: #fff;color: #45454f; width:54px; height: 20px; line-height: 20px; font-size: 12px; border: 1px solid #ccc inset;
box-shadow: 2px 2px 1px 3px rgba(188,100,41,1); display:inline-block; border-radius: 10px; cursor:pointer;}
.popReserTable1 th span.on{background-color: #45454f; color: #fff;width:54px; height: 20px; line-height: 20px; font-size: 12px; }

.popReserTable1 td{ background-color:#45454f; color: #fff; text-align: center; padding: 10px 0;}
.popReserTable1 td.sun{color:#ff9c9c;}
.popReserTable1 td.sat{color:#add7ff;}
.popReserTable1 td:first-child{ border-radius: 0 0 0 10px;}
.popReserTable1 td:last-child{ border-radius: 0 0 10px 0;}

.fixPopCTab { clear:both;  width:482px; margin: 20px auto; background-color:#fff; overflow:hidden;}
.fixPopCTab li{width:160px; float:left; margin: 0 1px 0 0; text-align: center;display: inline-block; color: #fff; background: #bdbdbd; font-size: 15px; line-height:33px; cursor: pointer;}
.fixPopCTab li.on{ color: #fff; background-color:#45454f;font-size: 15px; line-height:33px;}
.fixPopCTab li:first-child{ border-radius:50px 0 0 50px;}
.fixPopCTab li:last-child{margin: 0;  border-radius:0 50px 50px 0;}



















