
.overlay{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #777777;z-index:1004;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}	
.white_content {display: none;position: fixed;width: 580px; background-color: white;border: 6px solid #ff6600;z-index:1010;}

.informBox{padding:30px 45px;color:#404040;}
.informBox h4{ width:100%; text-align:center;}
.informBox img{width:55px;height:55px;}
.informBox .informTitle{font:30px 'Nanum GothicB';margin:20px 0 15px;color:#4d4c4c; text-align:center;}
.informBox ul li{padding:8px 0;} 
.informBox ul li span{font-size:15px; vertical-align: middle;}
.informBox ul li span b{ font-weight:400;}
.informBox ul li .title{width:130px;display: inline-block;}
.informBox ul li .title2{width:130px;display: inline-block; font-size:14px; letter-spacing:-1px; }
.informBox ul li .orange{color:#d81616;font-family:'Nanum GothicB';}
.informBox ul li .reserText{width:290px;height:40px;display:inline-block;vertical-align: middle;}
.informBox ul li span.last{font:16px 'Nanum GothicB';color:#ff6600;}

.notice_info{ width:500px; margin:20px auto; border: 1px solid #ddd; background: #e8e8e8; padding:20px; color: #535353; border-radius: 10px; font-size:12px; line-height:17px; text-align: left;}
.notice_info1{ width:516px; margin:10px auto; border: 1px solid #ddd; background: #e8e8e8; padding:10px; color: #535353; border-radius: 10px; font-size:12px; line-height:20px; text-align: left; letter-spacing:-1px;}
.notice_info span.blackText{ color: #1a1a1a;}
.notice_info span.redText{ color: #b81414;}
.notice_info span.underline{ text-decoration: underline;}
.notice_info p{ text-align: left;}

.resCancle.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;}

a.closeImg{background:url(../../images/hills/x_new.png) no-repeat;width:42px;height:42px;display:inline; z-index:3200;position:absolute;top:-5px; right:-6px; cursor:pointer;}

.informBox1{padding:20px 25px 0;color:#404040;}
.informBox1 h4{ width:100%; text-align:center;}
.informBox1 img{width:40px;height:40px;}
.informBox1 ul li{padding:7px 0;} 
.informBox1 ul li span{font-size:15px; vertical-align: middle;}
.informBox1 ul li span b{ font-weight:400;}
.informBox1 ul li .title{width:117px;display: inline-block;}
.informBox1 ul li .title2{width:130px;display: inline-block; font-size:14px; letter-spacing:-1px; }
.informBox1 ul li .orange{color:#d81616;font-family:'Nanum GothicB';}
.informBox1 ul li span.last{font:16px 'Nanum GothicB';color:#ff6600;}
.informBox1 .informTitle1{font:20px 'Nanum GothicB';margin:15px 0;color:#4d4c4c; text-align:center;}
.informBox1 ul li .reserText1{width:397px;display:inline-block;vertical-align: middle; font-size:14px; line-height:20px;}