/* body {overflow-x:hidden;} */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select,option { margin:0; padding:0;font:12px/1.2 Dotum,"�룍��",sans-serif;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;	font-weight:normal;}
ol,ul,li {	list-style:none;}
caption {display:none;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal;padding:none;margin:none;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
img, li { vertical-align: middle;}
hr,.hidden{display:none;}
.bold{font-weight:bold;}
.boldred{font-weight:bold;color:#a0220d;}
.boldb{font-weight:bold;color:black;}
.boldw{font-weight:bold;color:white;}
.clear {clear:both;}
a,img,div,ul,li {outline:none; selector-dummy: expression(this.hideFocus=true);vertical-align: middle;text-decoration:none;} /* �뀒�몢由ъ젏�꽑 而⑦듃濡�(no) */
a {text-decoration:none;color:inherit;}
a:hover {color:inherit;}
.ul {text-decoration:underline;}

h2 {font-weight:bold;margin-bottom:5px;}

.mt5 {margin-top: 5px !important;}

#wrap {width:100%;height:250px;margin:210px auto;background:url('../../images/admin/bg.jpg');}
#login {width:500px;height:180px;border:1px solid #d2d2d2;background:#fafafa;margin:0 auto;box-shadow:1px 1px 6px #222222;}
.title {margin:10px 0;padding-top:20px;text-align:center;color:white;font-weight:bold;font-size:11pt;text-shadow:1px 1px 1px black;} 
#login .register {padding:34px 80px 0 100px;}
#login .register li {float:left;}
#login .register .name {margin-right:15px;}
#login .register .name div {margin-top:12px;}
#login .register .box {margin-right:7px;}
#login .register .box div {margin-top:5px;}
#login .register .box input {width:165px;height:21px;line-height:21px;*height:19px;*line-height:19px;border:1px solid #c1c1c1;}
#login .register .btnlogin {margin-top:5px;padding:18px;background:#4b545e;color:white;di}
#login .save {clear:both;padding:15px 90px 0 90px;*padding:3px 90px 0 90px;}
#login .save li {float:left;margin-left:4px;font-size:9pt;}
#login .save .left {margin-left:12px;}
#login .save .left2 {margin-left:12px;*padding-top:5px;}
#login .save .space2 {*padding-top:5px;}

#header {width:100%;height:100px;background:url('../../images/admin/bg.jpg');}
#header .logo {float:left;margin:38px 0 0 30px;font-size:14pt;line-height:26px;font-weight:bold;color:white;text-shadow:1px 1px 1px black;}
#header select {width:130px;height: 27px;float:left;margin:38px 0 0 30px;font-size:10pt;line-height:26px;}
#header .member {float:right;padding:38px 30px 0 0;}
#header .member li {float:left;margin-left:15px;color:white;font-weight:bold;}
.gnb {width:100%;height:40px;background:#383a3f;}
.gnb li {float:left;width:140px;height:35px;line-height:40px;color:white;font-weight:bold;text-align:center;cursor:pointer;}
.gnb li:hover {background:#282828;width:140px;height:35px;text-decoration:underline;display:block;}
.gnb li a {display:block;}
.gnb .on {background:white;float:left;width:140px;height:40px;line-height:40px;color:#383a3f;font-weight:bold;text-align:center;cursor:pointer;}
.gnb .on:hover{background:white;float:left;width:140px;height:40px;line-height:40px;color:#383a3f;font-weight:bold;text-align:center;cursor:pointer;}

.cate_title {width:100%;line-height:41px;padding-left:10px;font-size:13pt;font-weight:bold;letter-spacing:-2px;border-bottom:1px solid #c7c7c7;background:url('http://asecovalley.com/images/admin_bl.jpg') no-repeat left;padding-left:14px;}
.cate_title2 {background:#f8fbfd;width:100%;height:40px;line-height:40px;padding-left:10px;font-size:10pt;border-bottom:1px solid #c7c7c7;text-decoration:underline;}
.cate_title3 {padding:0 0 5px 7px;font-size:13pt;font-weight:bold;letter-spacing:-1px;}
.search {width:100%;height:30px;margin-bottom:30px;padding:10px 0 0 0px;font-size:13pt;font-weight:bold;letter-spacing:-2px;border-bottom:1px solid #c7c7c7;}
.search li {float:left;padding-left:10px;}
.search select {height:21px;}
.search input {float:left;width:350px;height:20px;line-height:21px;border:1px solid #afafaf;}
.btn {line-height:22px;*line-height:32px;padding:6px 14px;background:#4b545e;color:white;}
.bigbtn {line-height:22px;*line-height:46px;padding:8px 16px;background:#4b545e;color:white;}

/* list */
.start {padding:0 10px;}
.start>table {width:100%;}
.start>table th {background:#f3f3f3;height:35px;border:1px solid #dedede;font-weight:bold;text-align:center;color:black;}
.start>table td {height:35px;border:1px solid #dedede;text-align:center;color:black;}
.start .index {width:100%;text-align:center;margin:15px auto;}
.start .index li {padding-left:10px;}
.start .choice {clear:both;margin-top:15px;}
.start .choice li {float:left;margin-right:6px;}
/* list end */

/* write */
.pop table {width:100%;}
.pop table th {background:#f3f3f3;height:35px;border:1px solid #dedede;font-weight:bold;}
.pop table td {height:35px;border:1px solid #dedede;padding-left:15px;}
.pop .index {width:100%;text-align:center;margin:15px auto;}
.pop .index li {padding-left:10px;}
/* write end */

.popinput1 {width:95%;height:20px;border:1px solid #a6a6a6;}
.popinput2 {width:15%;height:20px;border:1px solid #a6a6a6;}
.poptextarea {width:99%;height:250px;border:1px solid #a6a6a6;}
.poppadding {min-height:500px;padding:20px;}

#contents {clear:both;width:100%;height:100%;}
#contents:after {content:"";display:block;clear:both;}
#contents #aside {float:left;width:20%;height:100%;}
#contents #section {float:left;width:80%;height:100%;}

#footer {clear:both;margin-top:70px;padding:20px 0 0 10px;width:100%;height:50px;border-top:1px solid #c7c7c7;}

#aside {float:left;width:9%;border:1px solid #ccc;}
#aside>li {color:inherit;line-height:30px;cursor:pointer;border-bottom:1px solid #ccc;background:url('aside_bg.png') no-repeat left;padding-left:9px;}
#aside>li:nth-child(odd) {background:#fafafa url('aside_bg.png') no-repeat left;padding-left:9px;}
#aside>li:hover {background:linear-gradient( to bottom, #4a647a, #334454);text-decoration:underline;font-weight:bold;color:white;}
#aside .first {border-top:1px solid #383a3f;}
#aside .last {border:none;}
#aside li ul li {background:linear-gradient( to bottom, #ffffff, #f6f6f6);color:black;line-height:31px;padding-left:10px;border-bottom:1px solid #ccc;}
#aside li ul li:hover {background:linear-gradient( to bottom, #4a647a, #334454);color:white;}
#aside li:hover ul {display:block;}
#aside li .boNo {border:none;}

#aside li .subMenu1 {background:white;width:160px;display:none;position:absolute;left:9%;top:186px;border:1px solid #ccc;}
#aside li .subMenu2 {background:white;width:160px;display:none;position:absolute;left:9%;top:218px;border:1px solid #ccc;}
#aside li .subMenu3 {background:white;width:160px;display:none;position:absolute;left:9%;top:250px;border:1px solid #ccc;}
#aside li .subMenu4 {background:white;width:160px;display:none;position:absolute;left:9%;top:282px;border:1px solid #ccc;}
#aside li .subMenu5 {background:white;width:160px;display:none;position:absolute;left:9%;top:314px;border:1px solid #ccc;}
#aside li .subMenu6 {background:white;width:160px;display:none;position:absolute;left:9%;top:346px;border:1px solid #ccc;}
#aside li .subMenu7 {background:white;width:160px;display:none;position:absolute;left:9%;top:378px;border:1px solid #ccc;}
#aside li .subMenu8 {background:white;width:160px;display:none;position:absolute;left:9%;top:410px;border:1px solid #ccc;}
#aside li .subMenu9 {background:white;width:160px;display:none;position:absolute;left:9%;top:442px;border:1px solid #ccc;}

#contentsWrap {float:left;width:90%;}

/*-----------------main_image_slider -----------------*/
.ei-slider{	position: relative;	width: 100%; max-width: 100%; height: 400px; margin: 0 auto; }
.ei-slider2{ position: relative; width: 430px; height: 223px; margin: 0 auto; }
.ei-slider-large{ height: 400px;width: 100%; position:relative; overflow: hidden;}
.ei-slider-large li{position: absolute;top: 0px;left: 0px;overflow: hidden;height: 100%;width: 100%;transition: transform 1s ease-in-out;-ms-transition: transform 1s ease-in-out;transform: scale(1);-ms-transform: scale(1);}
.ei-slider-large li img{ width: 100%; }
.ei-slider-thumbs{ height: 8px; margin: -8px auto 0; z-index: 10;	position: relative;}
.ei-slider-thumbs li{ position: relative; float: left; height: 100%;}
.ei-slider-thumbs li.ei-slider-element{top: 0px;left: 0px;position: absolute;height: 100%;z-index: 10;text-indent: -9000px;background: #fff;background: rgba(255,255,255,1);}
.ei-slider-thumbs li a{display: block;text-indent: -9000px;background: #002539 ;width: 100%;height: 100%;cursor: pointer;-webkit-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3),0px 1px 0px 1px rgba(255,255,255,0.5);-moz-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);-webkit-transition: background 0.2s ease;-moz-transition: background 0.2s ease;-o-transition: background 0.2s ease;-ms-transition: background 0.2s ease;transition: background 0.2s ease;}
.ei-slider-thumbs li a:hover{ background-color: #f0f0f0;}
.ei-slider-thumbs li img{position: absolute;bottom: 50px;opacity: 0;z-index: 5;max-width: 100%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;-ms-transition: all 0.4s ease;transition: all 0.4s ease;}
.ei-slider-thumbs li:hover img{opacity: 1;bottom: 10px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

.orangeBtn{background:#ff6600;text-align:center;color:#ffffff;margin:0 auto;}
.blueBtn{background:#3e8ddc;text-align:center;color:#ffffff;margin:0 auto;}
.grayBtn{background:#686868;text-align:center;color:#ffffff;margin:0 auto;}
.greenBtn{background:#6ea724;text-align:center;color:#ffffff;margin:0 auto;}

.orangeBg{background:#ff6600;text-align:center;color:#ffffff;margin:0 auto;}
.blueBg{background:#3e8ddc;text-align:center;color:#ffffff;margin:0 auto;}
.grayBg{background:#686868;text-align:center;color:#ffffff;margin:0 auto;}
.greenBg{background:#6ea724;text-align:center;color:#ffffff;margin:0 auto;}


.commonTable{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px}
.commonTable.tableBottom{margin-bottom:70px;}
.commonTable th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable td{font-size:13px;}
.commonTable tr:last-child{border-bottom:0;}
.commonTable td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable td .txt{color:#b2b2b2;}

.subTitle {clear:both;width:100%;height:30px;margin-top:10px;position:relative;}
.subTitle span {font-size: 25px;padding-right:10px;color:#4f4f4f}



/*css추가*/
.admin_wrap{ width:80%; margin: 40px auto; padding:20px; border:1px solid #ddd; background-color:#f8f8f8;  min-width:580px;}

.commonTable1{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable1.tableBottom{margin-bottom:70px;}
.commonTable1 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable1 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable1 td{font-size:13px;}
.commonTable1 tr:last-child{border-bottom:0;}
.commonTable1 td:nth-child(2) input{outline: none;}
.commonTable1 td:nth-child(3) input{width:80%; height:25px; }
.commonTable1 td:nth-child(4) input{ width:50px; height:25px; text-align:center;}
.commonTable1 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable1 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable1 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable1 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable1 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable1 td .txt{color:#b2b2b2;}

.commonTable2{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable2.tableBottom{margin-bottom:70px;}
.commonTable2 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable2 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable2 td{font-size:13px;}
.commonTable2 tr:last-child{border-bottom:0;}
.commonTable2 td:nth-child(2) textarea {width:80%; height:50px; margin:10px;}       
/* .commonTable2 td:nth-child(2) input{ width:80%; height:25px;} */
.commonTable2 td:nth-child(3) input{ width:100px; height:25px; }
.commonTable2 td:nth-child(4) input{ width:50px; height:25px; text-align:center;}
.commonTable2 td:nth-child(6) input{ width:50px; height:25px; text-align:center;}     
.commonTable2 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable2 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable2 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable2 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable2 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable2 td .txt{color:#b2b2b2;}

.commonTable3{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable3.tableBottom{margin-bottom:70px;}
.commonTable3 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable3 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable3 td{font-size:13px;}
.commonTable3 tr:last-child{border-bottom:0;}
.commonTable3 td:nth-child(2) input{ width:80%; height:25px;}
.commonTable3 td:nth-child(3) input{ width:40%; height:25px;}
.commonTable3 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable3 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable3 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable3 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable3 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable3 td .txt{color:#b2b2b2;}

.commonTable4{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable4.tableBottom{margin-bottom:70px;}
.commonTable4 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable4 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable4 td{font-size:13px;}
.commonTable4 tr:last-child{border-bottom:0;}
.commonTable4 td:nth-child(2) input{ width:80%; height:25px;}
.commonTable4 td:nth-child(3) textarea {width:80%; height:60px; margin:10px; resize:none;}          
.commonTable4 td:nth-child(4) input{ width:40%; height:25px;}
.commonTable4 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable4 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable4 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable4 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable4 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable4 td .txt{color:#b2b2b2;}

.commonTable5{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable5.tableBottom{margin-bottom:70px;}
.commonTable5 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable5 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable5 td{font-size:13px;}
.commonTable5 tr:last-child{border-bottom:0;}
.commonTable5 td:nth-child(2) input{outline: none;}
.commonTable5 td:nth-child(3) input{width:80%; height:25px; }
.commonTable5 td:nth-child(4) input{ width:50px; height:25px; text-align:center;}
.commonTable5 td:nth-child(5) input{ width:50px; height:25px; text-align:center;}
.commonTable5 td:nth-child(6) input{ width:50px; height:25px; text-align:center;}
.commonTable5 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable5 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable5 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable5 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable5 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable5 td .txt{color:#b2b2b2;}

.commonTable6{width:100%;border-top:1px solid #45454f;border-bottom:1px solid #45454f;margin-top:10px; min-width:540px;}
.commonTable6.tableBottom{margin-bottom:70px;}
.commonTable6 th{font-size:12px;padding:10px;border-bottom:1px solid #e1e1e1;}
.commonTable6 tr{font-size:14px;height:40px;color:#535252;border-bottom:1px solid #dedede;text-align:center;font-family:"Nanum GothicB"}
.commonTable6 td{font-size:13px;}
.commonTable6 tr:last-child{border-bottom:0;}
.commonTable6 td:nth-child(2) input{width:80%; height:25px; }
.commonTable6 td:nth-child(3) input{outline: none;}
.commonTable6 td:nth-child(4) input{width:80%; height:25px; }
.commonTable6 td:nth-child(5) input{ width:50px; height:25px; text-align:center;}
.commonTable6 td input.orangeBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td input.blueBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td input.grayBtn{display:block;width:50px;height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td a.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td a.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td a.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin-top: -1px;}
.commonTable6 td span.orangeBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable6 td span.blueBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable6 td span.greenBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;margin:3px auto;border-radius:5px;}
.commonTable6 td span.grayBtn{background:#666666;color:white;padding:5px 20px 5px 20px}
.commonTable6 td .txt{color:#b2b2b2;}

hr.bar{ border:0; border-bottom:1px dashed #ddd; width:100%; height:1px; display:block; margin:120px 0 80px;}


/*메뉴페이지 추가*/
.menuImg img{ width:150px; border:1px solid #ddd; margin-top:10px; margin-bottom:10px;}
.searchWrap{width:100%; text-align:right;}
.search_title{ width:20%; float:left; text-align:left; font-size:20px; font-weight:bold; color:#4f4f4f; padding:20px 0; }
.search1 { width:80%; float:right; height:30px;padding:20px 0;font-size:13pt;font-weight:bold;letter-spacing:-2px; text-align:right;}
.search1 li {display:inline-block;padding-left:10px; }
.search1 select {height:21px;}
.search1 input {display:inline-block;width:350px;height:20px;line-height:21px;border:1px solid #afafaf;}

/* .file_input label input { position:absolute; width:0; height:0; overflow:hidden;} */

.iStyle{ width:310px; height:25px;}
.iStyle2{ widht: 150px; height:25px;}