@charset "utf-8";

/*-- common --*/
/* align */
.center {text-align:center !important;}
.txt-left {text-align:left !important;}
.left {float:left !important;}
.right {float:right !important;}
.bdn {border-left:none !important;}
.p {line-height:24px !important;}
.small {font-size:11px; font-family:'Nanum Gothic', sans-serif;}
.emphasis {font-size:12px; font-family:'Nanum GothicB', sans-serif;}
.lh {line-height:18px !important;}
.disp {display:inline-block;}

/* local map */
.local-map {border-bottom:#e8e8e8 solid 1px; }
.local-map::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
} 
.local-map .local-mapwrap {width:1260px; margin:auto; }
.local-map .local-mapwrap li {
	float:left;
	height:58px;
	line-height:58px;
	vertical-align:middle;
	margin-left:54px;
	/*font:13px 'Nanum Gothic', sans-serif;*/
	color:#767676;
}
.local-map .local-mapwrap li span { background:url(../images/arw.jpg) no-repeat center; width:7px; height:14px; padding:0 20px 0 20px; }
.local-map .local-mapwrap li strong{ font-size:14px #5b5b5b;}
.local-map .local-mapwrap li:first-child {margin-left:inherit;}
.local-map .local-home {
	width:58px;
	height:58px;
	line-height:58px;
	vertical-align:middle;
	background:url(../../images/valley/ico-home.png) top left no-repeat;
	border-left:#e8e8e8 solid 1px;
	border-right:#e8e8e8 solid 1px;
}

.search-result{ width:100%;}
.search-total{ margin:50px 0; text-align:center;}

/*sub title*/
.sub-title {
	width:200px;
	font:30px 'NotoSansKR-Regular', sans-serif;
	text-transform:uppercase;
	margin:0;
	padding:0 0 15px 0;
	color:#606060;
	text-align:left;
}

/*sub cont area*/
.sub-cont1 {}
.sub-cont2 {}
.sub-cont3 {}

/* table */
.tableWrap{ width:1020px; border:1px solid #CCC; padding:55px;}
.common-t table {}
.common-t thead {background:#707070;}
.common-t thead th {padding:20px 0; font:13px 'Nanum GothicB'; word-wrap:break-word; color:#fff; border-bottom:#e3e3e3 solid 1px;}
.common-t thead th:first-child {border-left:inherit; width:5%;}
.common-t thead th:last-child {border-right:inherit; width:5%;}
.common-t thead th.th-width { width:64%;}

.common-t tbody td {
	padding:10px 10px;
	font:13px 'Nanum Gothic';
	text-align:center;
	border-left:#e3e3e3 solid 1px;
	border-top:#e3e3e3 solid 1px;
	border-bottom:#e3e3e3 solid 1px;
	word-wrap:break-word;
}
.common-t tbody td a, hover {font-size:13px; text-decoration:none;}
.common-t tbody th {text-align:center; border:#e3e3e3  solid 1px; background:#f8f8f8; word-wrap:break-word;}
.common-t tbody td {word-wrap:break-word;}
.common-t tbody td.td-style {word-wrap:break-word; text-align:left; text-indent:15px;}
.common-t tbody th {padding:5px 0; font:13px 'Nanum GothicB';}
.common-t tbody th:first-child {border-left:inherit;}
.common-t tbody td:first-child {border-left:inherit;}
.common-t tbody th:last-child {border-right:inherit;}
.common-t tbody td:last-child {border-right:inherit;}
.common-t tbody .total-sum {color:#8d7249; font:20px 'Nanum GothicB';}


/* paging number */
.paging {position:relative; width:100%; text-align:center; margin-top:30px;}
.paging a {
	display:inline-block;
	background:#fff;
	color:#4b4b4b;
	font-size:12px;
	font-weight:bold;
	width:26px;
	height:25px;
	line-height:27px;
	margin-right:2px;
	border:#c2c2c2 solid 1px;
}
.paging a:hover {color:#4b4b4b; text-decoration:none;}
.paging .active {color:#4b4b4b; border:1px solid #c2c2c2; background:#ececec;}
.paging .page_btn {font-size:14px; border:1px solid #c2c2c2;}
.paging .btn_prev {margin-right:14px;}
.paging .btn_next {margin-left:14px;}

/* board View */
.board-view {
	border-top:#393f43 solid 1px;
	border-bottom:#e3e3e3 solid 1px;
}
.board-view dl dt {
	background:#f8f8f8;
	padding:20px;
	border-bottom:#e3e3e3 solid 1px;
	font:18px 'Nanum GothicB', sans-serif;
	color:#333;
}
.board-view dl dd {
	border-top:#e3e3e3 solid 1px;
	padding:10px;
	font:13px 'Nanum Gothic', sans-serif;
}
.board-view dl dd .date {float:left; font:13px 'Nanum Gothic', sans-serif;}
.board-view dl dd::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.board-view dl dd .view {float:right; font:13px 'Nanum Gothic', sans-serif;}
.board-view .view-data {font:13px 'Nanum Gothic'; line-height:25px;}
.board-view .view-data p {line-height:25px;}
.board-view .file {display:inline-block; margin-right:20px; color:#333;}
.board-view .file a,hover {color:#333; font-size:13px;}

.comment-box::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-box {
	margin:20px 0;
	padding:10px;
	border-top:#ccc solid 1px;
	border-bottom:#ccc solid 1px;
	background:#f8f8f8;
}
.comment-box .comment-title {
	margin-bottom:10px;
	padding:0 10px 5px;
	font:15px 'Nanum GothicB';
	border-bottom:#ccc dotted 1px;
}
.comment-box .comment-write {
	float:left;
	width:740px;
	line-height:22px;
	font:13px 'Nanum Gothic';
}
.comment-box .comment-write textarea {
	font:13px 'Nanum Gothic';
	width:100%;
	height:100px;
	padding:10px;
	background:#fff;
}
/*.comment-box .comment-write .comment-bt-title {
	font-family:'Nanum GothicB', sans-serif;
	font-size:1.5em !important;
	line-height:100px;
	vertical-align:middle;
}*/
.comment-view {margin:10px 0;}
.comment-view::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-view .comment-list {font:13px 'Nanum Gothic';}
.comment-view .comment-list li::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-view .comment-list li {border-bottom:#ccc dotted 1px; padding:5px 0;}
.comment-view .comment-list .list-cont {float:left; width:740px; line-height:22px; word-wrap:break-word;}
.comment-view .comment-list .btn-comt {
	float:right;
	background:#ccc;
	padding:3px 5px;
	text-align:center;
	border:#999 solid 1px;
	border-radius:3px;
	color:#333;
	font-size:11px;
	margin-left:3px;
}
.comment-view .comment-list .btn-comt:first-child {border-left:inherit;}
.comment-view .comment-list li .list-box::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-view .comment-list li .list-box {position:relative;}
.comment-view .comment-list li .replay-view::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-view .comment-list li .replay-view {
	border:#ececec solid 1px;
	background:#fafafa;
	font-size:12px;
	margin:5px 0 0 60px;
	padding:5px 10px;
}
.comment-view .comment-list li .replay-write::after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}
.comment-view .comment-list li .replay-write {
	border:#ececec solid 1px;
	background:#fafafa;
	font-size:12px;
	margin:5px 0 0 60px;
	padding:5px 10px;
}
.boardWrapper {margin:0 auto; border:1px solid #f4f4f4; width:1115px; padding:30px 10px 30px 5px;}
.boardWrapper .boardBox {
	width:23.6%;
	min-width:254px;
	margin-left:10px;
	margin-bottom:10px;
	background:#fff;
	border:#d2d2d2 solid 1px;
	display:inline-block;
}
.boardWrapper .boardBox img {width:100%;}
.boardWrapper .boardBox .boardBox_inner {position:relative;}
.boardWrapper .boardBox .boardBox_inner .event-off {
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	max-width:300px;
	max-height:324px;
	background:url(/Web/images/event-off.png) no-repeat;
}
.boardWrapper .boardBox .boardBox_inner .Boximg {max-height:199px; overflow:hidden;}
.boardWrapper .boardBox .boardBox_inner .board_cont {
	margin-top:-1px;
	padding:19px 21px 25px;
}
.boardWrapper .boardBox .boardBox_inner .board_cont h2 {
	font:15px 'Nanum GothicB', sans-serif;
	color:#656565;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.boardWrapper .boardBox .boardBox_inner .board_cont h2 a {
	font:15px 'Nanum GothicB', sans-serif;
	color:#656565;
}
.boardWrapper .boardBox .boardBox_inner .board_cont h2 a span{
	color:#3e8ddc;
	font-weight:bold;
}
.boardWrapper .boardBox .boardBox_inner .board_cont .write_date {
	margin:5px 0 10px 0;
	font:13px 'Nanum Gothic', sans-serif;
	color:#7d7d7d;

	line-height:23px;
	height:40px;
	vertical-align:middle;
	overflow:hidden;
	background:url(/Web/images/ico_clock.gif) 0px 4px no-repeat;
}
.boardWrapper .boardBox .boardBox_inner .board_cont .btn-contMore a {
	padding:8px 20px;
	border-radius:30px;
	background:#3e8ddc;
	font:13px 'Nanum Gothic', sans-serif;
	color:#fff;
	text-align:center;
}

.board-viewWrap {text-align:left; margin:0 auto; border:1px solid #e6e6e6; background-color:#f9f9f9; width:1130px; overflow:hidden;}
.board-viewWrap .tit_dateWrap{ margin:0 auto; border-bottom:dotted 1px #c8c7c7; width:88%; padding:40px 0;}
.board-viewWrap .board-viewTitle {font:24px 'Nanum GothicB', sans-serif; margin-bottom:20px; float:left;}
.board-viewWrap .write-date {
	float:right;
	width:130px;
	margin:auto;
	font:13px 'Nanum GothicB', sans-serif;
	color:#606060;
	line-height:23px;
	height:40px;
	vertical-align:middle;
	overflow:hidden;
	text-align:right;
	background:url(/Web/images/ico_clock.gif) 0px 4px no-repeat;
}
.board-viewWrap .board-viewContent {
	clear:both;
	float:left;
	overflow:hidden;
	margin:33px 73px;
	font:15px 'Nanum Gothic', sans-serif;
	word-wrap:break-word;
}
.board-viewWrap .board-viewContent .cont-img {
	text-align:center;
	display:block;
}
.board-viewWrap .board-viewContent .cont-img img {max-width:100%;}
.board-viewWrap .board-viewContent .cont-txt {
	margin-top:15px;
	line-height:24px !important;
	text-align:left;
	word-wrap:break-word;
	font:15px 'Nanum Gothic', sans-serif;
}
.board-viewWrap .board-viewContent .cont-txt img {max-width:100%;}

/*����߰�*/
.cmtWrap{width:100%; margin:15px 0 30px; color:#888; font-size:13px; }
.cmtWrap h3{ background:url(../images/board/b_arw.gif) no-repeat left bottom; padding-left:15px; font-size:12px; margin:50px 0 20px 0;}
.cmtWrap h3 span{ font-size:14px; color:#7f7f7f; font-weight:bold; margin:15px;}
.cmtWrap h3 strong{ color:#a42e2e;}
.cmtBox{ width:1037px; height:48px; border:1px solid #e1e1e1;line-height:15px; float:left; margin-bottom:20px; }
.cmtBtn{ 
	width:69px;
	height:40px;
	padding-top:18px;
	background-color:#3e8ddc;
	border:0;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	float:right;
	}
.cmtBoxWrap li{
	clear:both;
	background:url(../images/board/cmt_arw.gif) no-repeat left center;
	border-bottom:1px dotted #acacac;
	margin:4px 0;
	padding:4px 0 4px 42px;
	width:1005px;
}
.cmt_icon{ 
	background:url(../images/board/cmt_new.gif) no-repeat left center;
	width:11px;
	height:11px;
	display:inline-block;
	line-height:13px;
	margin:0 2px;
	}
.cmt_btn{
	width:34px;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	border:#e5e8ef solid 1px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#444;
	font-size:13px;
	text-align:center;
	margin:0 8px;
	}
	
.btnWrap {
	width:1130px;
	margin:0 auto;
	margin-top:25px;
	position:relative;
}
.btnWrap .lft-group {position:absolute; left:0; top:0;}
.btnWrap .lft-group .btn-prev {
	width:70px;
	height:38px;
	line-height:38px;
	vertical-align:middle;
	border:#d1d1d1 solid 1px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 20px;
	color:#000;
	font-size:13px;
	text-align:center;
}
.btnWrap .lft-group .btn-next {
	width:70px;
	height:38px;
	line-height:38px;
	vertical-align:middle;
	border:#d1d1d1 solid 1px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 20px;
	color:#000;
	font-size:13px;
	text-align:center;
}
.btnWrap .right-group {position:absolute; right:0; top:0;}
.btnWrap .right-group .btn-list {
	width:70px;
	height:38px;
	line-height:38px;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 20px;
	background:#6e6e6e;
	color:#fff;
	font-size:13px;
	text-align:center;
}
.btnWrap .right-group .btn-cancel {
	width:70px;
	height:38px;
	line-height:38px;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 20px;
	background:#3e8ddc;
	color:#fff;
	font-size:13px;
	text-align:center;
}

/*�۾���*/
.writeWrap {text-align:left; margin:0 auto; border:1px solid #e6e6e6; background-color:#f9f9f9; width:1030px; overflow:hidden; background-color:#f9f9f9; padding:28px 50px;}
.writeWrap p{ padding:8px 0; font-size:12px;}
.writeWrap p label {color:#7f7f7f; width:123px; display:inline-block; line-height:29px; font-weight:bold;}
.writeWrap p label b{ color:#e35d5d; font-weight:bold;}
.writeWrap p input{ height:27px; border:1px solid #e1e1e1; width:300px; line-height:29px}
.writeWrap p input.title{ width:895px;} 
.writeWrap p textarea{ width:1024px; height:220px; border:1px solid #e1e1e1;  overflow-y:auto; font:13px 'Nanum GothicB', sans-serif;} 
.writeWrap p a{ margin:0; padding:0;}
.writeWrap p a.btnSearchImg{
		width:132px;
		height:34px;
		line-height:34px;
		background-color:#707070;
		color:#fff;
		text-align:center;
		margin:-5px 5px 0 5px;
		padding:0;
		display:inline-block;
		*display:inline;
		*zoom:1;
		vertical-align:central;
}
.writeWrap p a.btnSearchFile{
		width:130px;
		height:34px;
		line-height:34px;
		background-color:#d8d8d8;
		border:1px solid #a0a0a0;
		color:#606060;
		text-align:center;
		margin:-5px 5px 0 5px;
		padding:0;
		display:inline-block;
		*display:inline;
		*zoom:1;
		vertical-align:central;
}
.writeWrap hr{ border:1px dotted #dfdfdf; width:100%; margin:10px 0; display:inline-block;}
.label_blank{ font-size:0; display:inline-block;}