
.overlay{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #777777;z-index:1004;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}	
.white_content {display: none;position: fixed;width: 580px;height:730px;background-color: white;border: 6px solid #3e8ddc;z-index:1005;}

.informBox{padding:35px 70px 0;color:#404040;}
.informBox img{width:55px;height:55px;}
.informBox .informTitle{font:30px 'Nanum GothicB';margin:20px 0 15px;color:#4d4c4c;}
.informBox ul li{padding:10px 0;} 
.informBox ul li span{font-size:15px;}
.informBox ul li .title{width:130px;display: inline-block;}
.informBox ul li .reserText{width:290px;height:40px;display:inline-block;vertical-align: middle;}
.informBox ul li span.last{font:16px 'Nanum GothicB';color:#3e8ddc;}

.notice_info{ width:500px; margin:20px auto; border: 1px solid #ddd; background: #e8e8e8; padding:20px; color: #535353; border-radius: 10px; font-size:12px; line-height:22px; text-align: left;}
.notice_info span.blackText{ color: #1a1a1a;}
.notice_info span.redText{ color: #b81414;}
.notice_info span.underline{ text-decoration: underline;}
.notice_info p{ text-align: left;}

.resCancle.grayBtn{display:block;width:50px;height:25px;line-height:25px;font-size:12px;}

a.closeImg{background:url(../../images/valley/x_new.png) no-repeat;width:42px;height:42px;display:inline; z-index:3200;position:absolute;top:-5px; right:-6px; cursor:pointer;}